<span
  class="font-poppins font-semibold text-[18px] md:text-[22px]  text-[#64728C] ">
  All Books
</span>
<div class="flex justify-end">
  <div class="flex items-center gap-2">
    <a
      (click)="goToAddBook()"
      class="bg-[#769fff73] bg-opacity-30 font-poppins cursor-pointer text-[14px] font-semibold leading-[22px] px-4 py-2 rounded-[20px] min-w-[80px] items-center justify-center gap-2 text-[#10275E] hidden md:flex hover:opacity-70">
      <span>Add New Book</span>
    </a>

  </div>
</div>
<div *ngIf="loading" class="text-center text-gray-500 py-6">Loading...</div>

<div *ngIf="error" class="text-center text-red-500 py-6">{{ error }}</div>
<ng-template #noBooks>
  <div class="text-center text-gray-500 py-6">No books available.</div>
</ng-template>

<div *ngIf="!loading && !error">
  <div *ngIf="books.length > 0; else noBooks">
    <div class="relative overflow-x-auto sm:rounded-lg mt-8">
      <table class="w-full text-sm text-left rtl:text-right text-gray-500 ">
        <thead class="text-[14px] text-gray-600 uppercase bg-gray-100 ">
          <tr>
            <th scope="col" class="px-6 py-3">ID</th>
            <th scope="col" class="px-6 py-3">Title</th>
            <th scope="col" class="px-6 py-3">Author</th>
            <th scope="col" class="px-6 py-3">ISBN</th>
            <th scope="col" class="px-6 py-3">Publication Date</th>
            <th scope="col" class="px-6 py-3">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let book of books"
            class="bg-white  border-b  border-gray-200 text-[#64728C] text-[14px]">
            <td class="px-6 py-4 font-medium  whitespace-nowrap ">
              B{{ book.id }}
            </td>
            <td class="px-6 py-4">
              {{ book.title }}
            </td>
            <td class="px-6 py-4">
              {{ book.author }}
            </td>
            <td class="px-6 py-4">
              {{ book.isbn }}
            </td>
            <td class="px-6 py-4">
              {{ book.publicationDate | date }}
            </td>
            <td class="px-6 py-4">
              <a (click)="goToEditBook(book.id)"
                class="font-medium text-blue-600 cursor-pointer mr-3">
                Edit
              </a>
              <a (click)="deleteBook(book.id)"
                class="font-medium text-red-600  cursor-pointer">
                Delete
              </a>

            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
